// in head tag

<div class="lead">
    <strong>Welcome</strong>
    <span th:text="${greeting}"></span>
</div>

<!-- Include Bootstrap -->

//  other markup

<div id="contents"></div>

// at end of body tag
<script
        src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js">
</script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js">
</script>

<script type="text/babel">
    var app = new Vue({
        el: '#contents',
        data: {
            players: [
                { id: "1",
                  name: "Lionel Messi",
                  description: "Argentina's superstar" },
                { id: "2",
                  name: "Christiano Ronaldo",
                  description: "World #1-ranked player from Portugal" }
            ]
        }
    });
</script>